# Utilisation du programme de changement de repère

Cette page montre comment calculer les coordonnées d'analyses sur le microscope électronique à balayage (MEB) à partir de points determinés sur une image optique de l'échantillon. 
Ce programme requiert : 
- Pandas (https://pandas.pydata.org)
- Scikit Image (https://scikit-image.org)

## Auteur : 
Hadrien Meyer (ENSG Nancy)

## Fichiers nécessaires :
- un tableur (csv, xls ou txt) des coordonnées de repères et d'analyses. Ce tableur est généralement construit avec l'image optique de l'échantillon.

In [1]:
# Load and display of file in python
import pandas as pd
input_file = pd.read_csv('Input.txt')
display(input_file)

           Type      X     Y
0      Reference1    0.0   0.0
1      Reference2    0.0  50.0
2      Reference3  300.0  50.0
3      Reference4  300.0   0.0
4    Measurement1   34.0  28.0
5    Measurement2   17.0  41.0
6    Measurement3   46.0  37.0
7    Measurement4    6.0  48.0
8    Measurement5   63.0  10.0
9    Measurement6  134.0  10.0
10   Measurement7  113.0  17.0
11   Measurement8   33.0  33.0
12   Measurement9  291.0  39.0
13  Measurement10  237.0  19.0
14  Measurement11  116.0  39.0
15  Measurement12   37.0  37.0
16  Measurement13  163.0  42.0
17  Measurement14   92.0   1.0
18  Measurement15  169.0  17.0
19  Measurement16   62.0  29.0
20  Measurement17  185.0  49.0
21  Measurement18  180.0  23.0
22  Measurement19  273.0  37.0
23  Measurement20   73.0  48.0
24  Measurement21   44.0  39.0
25  Measurement22  185.0   1.0
26  Measurement23  184.0  12.0
27  Measurement24   76.0   5.0
28  Measurement25  176.0   1.0
29  Measurement26  277.0  43.0
30  Measurement27  125.0   8.0
31  Measurement28  170.0  12.0
32  Measurement29  267.0  27.0
33  Measurement30  156.0   0.0
34  Measurement31  227.0  18.0
35  Measurement32  160.0  48.0
36  Measurement33   12.0  33.0
37  Measurement34  213.0  29.0
38  Measurement35  133.0  10.0
39  Measurement36  154.0  46.0
40  Measurement37   25.0  41.0
41  Measurement38  206.0  49.0
42  Measurement39  106.0  35.0
43  Measurement40  110.0  22.0
44  Measurement41  143.0  33.0
45  Measurement42  297.0  24.0
46  Measurement43   33.0  42.0
47  Measurement44  171.0  15.0
48  Measurement45   42.0  18.0
49  Measurement46  265.0  29.0
50  Measurement47   35.0   7.0
51  Measurement48  157.0  49.0
52  Measurement49   94.0  11.0
53  Measurement50  186.0   3.0

- Un autre tableur des coordonnées repères permettant le calcul de la transformation a appliquer sur les points d'analyses. Ce tableur est construit avec les cordonnées obtenues sur l'appareil de mesure.

In [2]:
# Load and display of file in python
import pandas as pd
output_file = pd.read_csv('Output.txt')
display(output_file)

        Type    X    Y
0  Reference1  155   15
1  Reference2   65   40
2  Reference3  260  130
3  Reference4  360   95

Dans un script python, on importe le programme:

In [3]:
import findcoord.transform as fn

On créé ensuite la classe de transformation entre les deux tableurs.

In [4]:
TF = fn.transformation('Input.txt','Output.txt')

On calcule la transformation entre les deux tableaux :

In [5]:
TF.calculate_coordinates()

Enfin on écrit les points de mesures calculés dans le tableau de l'appareil de mesure

In [6]:
TF.extract_coordinates()

Le tableur est ainsi directement complété :

In [7]:
# Load and display of file in python
output_file= pd.read_csv('Output.txt')
display(output_file)

             Type       X       Y
0      Reference1  155.00   15.00
1      Reference2   65.00   40.00
2      Reference3  260.00  130.00
3      Reference4  360.00   95.00
4    Measurement1  124.39   36.81
5    Measurement2   90.94   39.45
6    Measurement3  114.56   44.51
7    Measurement4   71.94   40.42
8    Measurement5  173.91   34.47
9    Measurement6  218.44   52.41
10   Measurement7  191.99   50.78
11   Measurement8  114.63   39.17
12   Measurement9  275.67  118.78
13  Measurement10  273.73   87.35
14  Measurement11  152.41   64.05
15  Measurement12  109.47   42.26
16  Measurement13  176.70   79.28
17  Measurement14  207.78   36.82
18  Measurement15  228.87   65.99
19  Measurement16  138.68   44.25
20  Measurement17  177.47   90.34
21  Measurement18  225.04   72.71
22  Measurement19  265.57  111.10
23  Measurement20  109.24   57.51
24  Measurement21  109.69   45.08
25  Measurement22  269.76   61.08
26  Measurement23  248.64   67.27
27  Measurement24  190.73   35.01
28  Measurement25  263.43   58.60
29  Measurement26  256.42  116.68
30  Measurement27  216.22   48.94
31  Measurement28  238.93   63.33
32  Measurement29  280.97  102.24
33  Measurement30  251.43   52.63
34  Measurement31  268.21   83.63
35  Measurement32  162.86   82.09
36  Measurement33  102.98   34.10
37  Measurement34  236.67   86.29
38  Measurement35  217.78   52.14
39  Measurement36  162.91   79.07
40  Measurement37   95.33   41.41
41  Measurement38  191.88   96.97
42  Measurement39  153.87   59.02
43  Measurement40  180.83   52.78
44  Measurement41  181.11   68.08
45  Measurement42  310.83  110.32
46  Measurement43   97.89   43.92
47  Measurement44  234.00   65.37
48  Measurement45  147.15   33.56
49  Measurement46  275.45  102.93
50  Measurement47  162.73   26.31
51  Measurement48  158.91   81.81
52  Measurement49  191.04   42.64
53  Measurement50  266.79   62.53